<div id='container'>
  <div>
    <h1>
      {{message}}
    </h1>

    <body>
      <form action="/memdata" method="POST">
        <input type="text" placeholder="person" name="people">
        <button type="submit">-RandomDeck-</button>
      </form>
      <!--<div ng-repeat="phrase in phrases">{{phrases}}</div>-->

      <!--<ul>-->
        <!--<div id="phrase" ng-repeat="phrase in phrases">
          <button type="submit">delete</button>
          <a>{{phrase.phrase}}</a>
        </div>-->
      <!--</ul>-->
    </body>
  </div>
</div>