<div id='container'>
  <div>
    <h1>
      {{message}}
      {{complete}}
    </h1>

    <body>
      <form action="/poa" method="POST">
        <input type="text" placeholder="person" name="person">
        <input type="text" placeholder="action" name="action"> a/an
        <input type="text" placeholder="object" name="object">
        <button type="submit">-SUBMIT-</button>
      </form>
      <!--<div ng-repeat="phrase in phrases">{{phrases}}</div>-->

      <!--<ul>-->
        <div id="phrase" ng-repeat="phrase in data.decks">
          <button type="submit" ng-click="newFunc(phrase._id)">delete</button>
          <a>{{ phrase.person + ' ' + phrase.action + ' a ' + phrase.object + '.' }}</a>
          <!--<img src="smiley.gif" alt="Smiley face" height="42" width="42">-->
        </div>
      <!--</ul>-->
    </body> 
  </div>
</div>