<div id='container'>
  <div>
    <h1>
      {{message}} {{complete}}
    </h1>

    <body>
      <form action="/poa" method="POST">
        <select name="suit">
          <option value"Spades">Spades</option>
          <option value="Clubs">Clubs</option>
          <option value="Hearts">Hearts</option>
          <option value="Diamonds">Diamonds</option>
        </select>
        <select name="card">
          <option value="spades">spades</option>
          <option value="clubs">clubs</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
        <input type="text" placeholder="person" name="person">
        <input type="text" placeholder="action" name="action"> a/an
        <input type="text" placeholder="object" name="object">
        <button type="submit">-SUBMIT-</button>
      </form>

      <!--<form action="/completeddecks" method="POST">-->
      <form>
        {{count}} of 52 cards complete!
        <input type="text" placeholder="deck name" ng-model="deckName">
        <button type="submit" ng-click="saveDeck(data.decks, deckName)">-SAVE DECK-</button>
      </form>

      <!--</form>-->

      <div id="phrase" ng-repeat="phrase in data.decks">
        <button type="submit" ng-click="newFunc(phrase._id)" class="btn btn-danger btn-link btn-xs">delete</button>
        <a>{{ phrase.person + ' ' + phrase.action + ' a ' + phrase.object + '.' }}</a>
        <!--<img src="smiley.gif" alt="Smiley face" height="42" width="42">-->
      </div>
    </body>
  </div>
</div>